/*  Varibles */
/*Varibles end */
/*  ---JOINT STYLES--- */
.gallery__img:hover .red-glass {
  line-height: 1.8;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(232, 69, 69, 0.7);
  justify-content: center;
  font-family: "Raleway";
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff; }
  .gallery__img:hover .red-glass p {
    font-weight: normal;
    text-transform: capitalize; }

* {
  margin: 0;
  padding: 0; }

.header-content,
.features,
.team,
.download-now,
.info__content {
  width: 100%;
  max-width: 1170px;
  margin: auto; }

h1,
.menu__item,
.features__head,
.team__my-profession,
.download-now__text,
.info__content h5 {
  text-transform: uppercase; }

li {
  display: inline-block;
  list-style: none; }

a {
  text-decoration: none; }

button {
  height: 46px;
  cursor: pointer;
  border: none;
  background-color: #e84545;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  font-family: "Raleway";
  font-size: 0.8125rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff; }

.social-nets a {
  line-height: 40px;
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  border: 1px solid #e8ecee;
  font-family: "Font Awesome 5 Brands";
  font-size: 1.125rem;
  font-weight: auto;
  text-transform: auto;
  color: #c6cacc; }

.social-nets__item:nth-of-type(1) a::after {
  content: "\f39e"; }

.social-nets__item:nth-of-type(2) a::after {
  content: "\f099"; }

.social-nets__item:nth-of-type(3) a::after {
  content: "\f08c"; }

/* ---JOINT STYLES END--- */
body {
  font-family: "Raleway"; }

.container {
  width: 100%; }

header {
  position: relative;
  width: 100%;
  height: 46.875rem;
  color: #fff;
  background-position: center;
  background-image: url(../img/header-img.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  header .color-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 52, 84, 0.9); }

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header-content nav {
    display: flex;
    width: 100%;
    margin-top: 3.5%;
    justify-content: space-between;
    align-self: flex-end; }
    .header-content nav .logo {
      display: inline-block;
      padding-right: 2%;
      padding-left: 2%; }
  .header-content .wrapper-general-head {
    width: 78.90295%;
    text-align: center; }
    .header-content .wrapper-general-head h1 {
      margin-top: 20%;
      font-family: "Open Sans";
      font-size: 4.0625em;
      font-weight: bold;
      text-transform: auto;
      color: auto; }
    .header-content .wrapper-general-head p {
      font-size: 1.375rem;
      margin-top: 2%; }
    .header-content .wrapper-general-head button {
      width: 200px;
      margin-top: 9.5%; }

.menu {
  display: flex;
  width: 595px;
  padding-right: 2%;
  padding-left: 2%;
  justify-content: space-between; }
  .menu__link {
    font-size: 0.8125rem;
    color: #fff; }

.features {
  display: flex;
  max-width: 1100px;
  padding-top: 120px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around; }
  .features__img {
    width: 60px;
    height: 60px;
    margin: auto; }
  .features__title {
    margin: 32px auto;
    font-family: "Raleway";
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #2d3033; }
  .features__description {
    line-height: 1.5;
    width: 310px;
    margin-top: 25px;
    margin-bottom: 35%;
    font-family: "Raleway";
    font-size: 0.875rem;
    font-weight: normal;
    text-transform: normal;
    color: #6c7279; }

.gallery {
  display: flex;
  box-sizing: border-box;
  max-width: 2370px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center; }
  .gallery__img {
    position: relative;
    margin: 0.1%;
    width: 470px;
    height: 355px; }
    .gallery__img .red-glass {
      display: none; }
    .gallery__img img {
      width: 100%;
      height: 100%; }

.team {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  padding-top: 3%;
  padding-bottom: 2%;
  flex-wrap: wrap;
  justify-content: center; }
  .team__about-me {
    width: 270px;
    margin: 0 0.5%; }
  .team__my-name {
    font-size: 1.375rem;
    font-weight: lighter;
    margin-top: 30px;
    color: #2d3033; }
  .team__my-profession {
    font-size: 0.8125rem;
    margin-top: 12px;
    color: #e84545; }
  .team__my-description {
    line-height: 1.5;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Raleway";
    font-size: 0.875rem;
    font-weight: auto;
    text-transform: auto;
    color: #6c7279; }

.clients {
  display: flex;
  height: 500px; }
  .clients__img {
    width: 50%;
    background-position: center;
    background-image: url(../img/clients.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .clients #slider {
    width: 50%; }
    .clients #slider .slick-dots {
      bottom: 15%; }
      .clients #slider .slick-dots li {
        width: 12px;
        height: 12px; }
      .clients #slider .slick-dots .slick-active {
        width: 12px;
        height: 12px;
        background-color: #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%; }
      .clients #slider .slick-dots button {
        width: 12px;
        height: 12px;
        background-color: rgba(255, 255, 255, 0.2);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%; }
        .clients #slider .slick-dots button::before {
          content: ""; }
    .clients #slider .slider-page {
      width: 100%;
      background-color: #53354a; }
    .clients #slider .slider-content {
      box-sizing: border-box;
      width: 85%;
      height: 500px;
      padding-top: 16%;
      padding-left: 13%; }
      .clients #slider .slider-content blockquote {
        padding-bottom: 25px;
        font-family: "Cardo";
        font-size: 2.25rem;
        font-weight: auto;
        text-transform: auto;
        color: #fff; }
      .clients #slider .slider-content cite {
        font-family: "Raleway";
        font-size: 0.8125rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff; }

#download {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  height: 340px;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center; }
  #download h2 {
    margin-bottom: 2.34375%;
    font-family: "Raleway";
    font-size: 1.75rem;
    font-weight: lighter;
    text-transform: capitalize;
    color: #000; }
  #download button {
    width: 280px;
    margin-top: 6.25%; }

footer h5 {
  padding-bottom: 20px;
  color: #fff; }

footer p,
footer address {
  font-size: 0.875rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5); }

footer .info {
  width: 100%;
  padding-top: 5.5%;
  padding-bottom: 85px;
  background-color: #3a3e64; }
  footer .info .info__content {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: space-between; }
    footer .info .info__content .location,
    footer .info .info__content .social-nets,
    footer .info .info__content .about-activebox {
      width: 335px; }
    footer .info .info__content .social-nets--modifier.social-nets a {
      color: #fff;
      border: 2px solid #fff;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px; }

footer .container-copyright {
  font-size: 0.875rem;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  color: #808080;
  background-color: #313454; }
  footer .container-copyright .designer {
    color: #fff; }
  footer .container-copyright .icon-heart {
    font-family: "Webdings";
    color: #e84545; }

/* ************** @MEDIA ************** */
@media screen and (min-width: 1200px) and (max-width: 1280px) {
  .gallery__img {
    width: 297px;
    height: 207px; } }

@media screen and (max-width: 1130px) {
  .team {
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center; }
    .team__about-me {
      display: flex;
      width: 85%;
      align-items: flex-start; }
    .team__my-name {
      font-size: 1.375rem;
      font-weight: lighter;
      position: absolute;
      left: 400px;
      margin-top: 5%;
      color: #2d3033; }
    .team__my-profession {
      font-size: 0.8125rem;
      position: absolute;
      left: 400px;
      margin-top: 8.5%;
      color: #e84545; }
    .team__my-description {
      line-height: 1.5;
      width: 80%;
      margin-top: 10%;
      margin-left: 50px;
      align-self: center;
      font-family: "Raleway";
      font-size: 0.875rem;
      font-weight: auto;
      text-transform: auto;
      color: #6c7279; }
    .team .social-nets {
      position: absolute;
      left: 400px;
      margin-top: 225px; }
  .clients__img {
    background-position: 80% center; }
  .clients #slider .slick-dots {
    bottom: 10%; } }

@media screen and (max-width: 959px) {
  header {
    height: 37.5rem; }
    header .header-content {
      display: flex;
      flex-direction: column;
      align-items: center; }
      header .header-content .wrapper-general-head h1 {
        margin-top: 15%;
        font-family: "Open Sans";
        font-size: 3em;
        font-weight: bold;
        text-transform: auto;
        color: auto; }
      header .header-content .wrapper-general-head p {
        font-size: 1.25rem;
        margin-top: 2%; }
      header .header-content .wrapper-general-head button {
        width: 180px; }
  .features {
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px; }
  .gallery__img {
    width: 370px;
    height: 255px; }
  .clients {
    flex-direction: column;
    height: 800%;
    justify-content: center; }
    .clients__img {
      width: 100%;
      height: 400px;
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat; }
    .clients #slider {
      width: 100%; }
      .clients #slider .slick-dots {
        bottom: 14%; }
      .clients #slider .slider-content {
        width: 85%;
        height: 300px;
        padding-top: 5%;
        padding-left: 13%; }
        .clients #slider .slider-content blockquote {
          padding-bottom: 1%;
          font-family: "Cardo";
          font-size: 2rem;
          font-weight: auto;
          text-transform: auto;
          color: #fff; }
  .info__content {
    width: 85%; } }

@media screen and (max-width: 767px) {
  .features {
    display: flex;
    max-width: 1100px;
    padding-top: 60px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around; }
    .features__img {
      width: 60px;
      height: 60px;
      margin: auto; }
    .features__title {
      margin: 15px auto; }
    .features__description {
      margin-top: 15px;
      margin-bottom: 15%; }
  .gallery__img {
    width: 300px;
    height: 205px; }
  .team__about-me {
    display: flex;
    width: 85%;
    align-items: flex-start; }
  .team__my-name {
    font-size: 1.375rem;
    font-weight: lighter;
    position: absolute;
    left: 400px;
    margin-top: 2%;
    color: #2d3033; }
  .team__my-profession {
    font-size: 0.8125rem;
    position: absolute;
    left: 400px;
    margin-top: 6.5%;
    color: #e84545; }
  .team__my-description {
    line-height: 1.5;
    width: 80%;
    margin-top: 9%;
    margin-left: 50px;
    align-self: center;
    font-family: "Raleway";
    font-size: 0.875rem;
    font-weight: auto;
    text-transform: auto;
    color: #6c7279; }
  .team .social-nets {
    position: absolute;
    left: 400px;
    margin-top: 225px; }
  #download {
    height: 100%;
    padding-bottom: 5%; }
    #download h2 {
      font-family: "Raleway";
      font-size: 1.375rem;
      font-weight: lighter;
      text-transform: capitalize;
      color: #000; }
    #download p {
      font-size: 0.8125rem; }
    #download button {
      width: 200px;
      margin-top: 3.90625%; }
  footer h5 {
    padding-bottom: 10px;
    color: #fff; }
  footer p,
  footer address {
    font-size: 0.875rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.5); }
  footer .info {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 2%; }
    footer .info .info__content {
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: center;
      justify-content: space-around; }
      footer .info .info__content .location,
      footer .info .info__content .social-nets,
      footer .info .info__content .about-activebox {
        width: 100%;
        padding-bottom: 3%; }
      footer .info .info__content .social-nets--modifier.social-nets a {
        line-height: 30px;
        width: 30px;
        height: 30px;
        border: 1px solid #fff; } }

@media screen and (max-width: 670px) {
  header {
    height: 37.5rem; }
    header .header-content {
      display: flex;
      flex-direction: column;
      align-items: center; }
      header .header-content nav {
        display: flex;
        flex-direction: column; }
        header .header-content nav .logo {
          margin-bottom: 2%;
          padding-left: 6%; }
          header .header-content nav .logo img {
            width: 30%; }
        header .header-content nav .menu {
          width: 95%;
          text-align: left;
          justify-content: space-around; }
      header .header-content .wrapper-general-head h1 {
        margin-top: 15%;
        font-family: "Open Sans";
        font-size: 2.625em;
        font-weight: bold;
        text-transform: auto;
        color: auto; }
      header .header-content .wrapper-general-head p {
        font-size: 1.125rem;
        margin-top: 2%; }
      header .header-content .wrapper-general-head button {
        width: 160px; }
  .team__about-me {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 5%;
    align-items: center; }
  .team__my-name {
    font-size: 1.375rem;
    font-weight: lighter;
    position: static;
    left: 0;
    margin-top: 2%;
    color: #2d3033; }
  .team__my-profession {
    font-size: 0.8125rem;
    position: static;
    margin-top: 2%;
    color: #e84545; }
  .team__my-description {
    line-height: 1.5;
    width: 90%;
    margin: auto;
    margin-top: 4%;
    font-family: "Raleway";
    font-size: 0.875rem;
    font-weight: auto;
    text-transform: auto;
    color: #6c7279; }
  .team .social-nets {
    position: static;
    margin-top: 5%; }
    .team .social-nets a {
      line-height: 30px;
      width: 30px;
      height: 30px; }
  .clients {
    flex-direction: column;
    height: 80%;
    justify-content: center; }
    .clients__img {
      width: 100%;
      height: 250px;
      background-position: 80% top;
      background-size: cover;
      background-repeat: no-repeat; }
    .clients #slider .slick-dots {
      bottom: 10%; }
    .clients #slider .slider-content {
      width: 85%;
      height: 255px;
      padding-top: 5%;
      padding-left: 13%; }
      .clients #slider .slider-content blockquote {
        font-family: "Cardo";
        font-size: 1.375rem;
        font-weight: auto;
        text-transform: auto;
        color: #fff; }
      .clients #slider .slider-content cite {
        font-family: "Raleway";
        font-size: 0.625rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff; }
  .gallery__img {
    width: 270px;
    height: 155px; }
  #download {
    height: 100%;
    padding-bottom: 5%; }
    #download h2 {
      font-family: "Raleway";
      font-size: 0.875rem;
      font-weight: lighter;
      text-transform: capitalize;
      color: #000; }
    #download p {
      font-size: 0.5625rem; }
    #download button {
      font-size: 0.55rem;
      width: 100px;
      height: 30px;
      margin-top: 3.90625%; }
  footer h5 {
    font-size: 0.6rem; }
  footer p,
  footer address {
    font-size: 0.625rem;
    line-height: 1.4; }
  footer .info .social-nets--modifier.social-nets a {
    font-size: 0.6rem;
    line-height: 20px;
    width: 20px;
    height: 20px; }
  .container-copyright {
    font-size: 0.75rem;
    padding-top: 2%;
    padding-bottom: 2%; } }

@media screen and (max-width: 479px) {
  header {
    height: 25rem; }
    header .header-content nav .logo {
      margin-bottom: 2%;
      padding-left: 6%; }
      header .header-content nav .logo img {
        width: 30%; }
    header .header-content nav .menu {
      flex-direction: column;
      width: 95%;
      align-items: center; }
    header .header-content .wrapper-general-head h1 {
      margin-top: 10%;
      font-family: "Open Sans";
      font-size: 1.375em;
      font-weight: bold;
      text-transform: auto;
      color: auto; }
    header .header-content .wrapper-general-head p {
      font-size: 0.8125rem;
      margin-top: 2%; }
    header .header-content .wrapper-general-head button {
      font-size: 0.55rem;
      width: 90px;
      height: 30px; } }
